.profile {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 60px;
  padding-top: 120px;
}

.profile__leftside {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.profile__menu {
  display: grid;
}

.profile__lefttext {
  color: var(--text-inactive-color);
}

.profile__menu_link {
  color: var(--text-inactive-color);
  height: 64px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profile__menu_link:hover {
  color: var(--text-primary-color);
}

.profile__menu_link.active {
  color: var(--text-primary-color);
}

.profile__main {
  width: 100%;
}
