.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  max-height: 90vh;
}

.h1 {
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgbox {
  padding-left: 16px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 312px;
  padding-right: 24px;
  overflow: auto;
}

