.view__list {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
  overflow: auto;
}

.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.category__list {
  position: relative;
  height: 100%;
}

.category__box {
  display: flex;
  flex-direction: column;
}

.category__title {
  position: relative;
}

.item__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 16px 40px;
}
