.card {
  opacity: 1;
}
.title {
  opacity: 1;
}

.number {
  opacity: 1;
}

.date {
  opacity: 1;
}

.body {
  opacity: 1;
}

.name {
  opacity: 1;
}

.status {
  opacity: 1;
}

.footer {
  opacity: 1;
}
